.recipe{

    background-color: rgb(231, 201, 146);
    font-size: large;
    font-family: Verdana, sans-serif;
    
 }

 h1{
    background-color: antiquewhite;
    text-align: center;
    color: rgb(90, 75, 46);
    font-family: Verdana, sans-serif;
 }
 
 .home{
    margin: auto;
    width: 500px;
    height: auto;
 }
 

 .recs{
    background-color: rgb(216, 194, 165);
    color: rgb(73, 51, 27);
    width: 500px;
    height: auto;
    text-align: center;
    margin: auto;
 }
 .recs li{
    text-align: left;
 }
 