.recs{
    background-color: rgb(231, 201, 146);
    font-size: large;
    font-family: Verdana, sans-serif;
 }

 h1{
    background-color: antiquewhite;
    text-align: center;
    color: rgb(231, 201, 146);
    font-family: Verdana, sans-serif;
 }